:root {
  --burnham: #003720;
  --pastel: #79D65E;
  --shuttle: #536471;
  --mercury: #E5E7EB;
  --gossip: #E5F9BD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
  min-height: 384px;
  margin: 0;
  background: white;
}

#root {
  width: 100%;
  height: 100%;
}
